body{ margin: 0; padding: 0; background: #F1F9FC; font-family: 'Roboto', sans-serif; font-size: 18px; }
h1,h2,h3,h4,h5,ul,li,p,img{ margin: 0; padding: 0; }
a:hover, a:focus, a.active{ outline: none;}

.navmenu{ background: #00b0f0; padding: 10px 0px; }
.btn-primary{ background: #16D472; color: #fff; font-weight: 500; box-shadow: 0px 0px 3px rgba(0,0,0,0.4); border-radius: 15px; padding: 8px 13px; text-transform: uppercase; width: 180px; border: none; margin-top: 12px; }
.btn-primary:hover, .btn-primary.active, .btn-primary:focus{ background: #16D472; text-decoration: underline; color: #fff; transition: 0.2s all ease-in; }
.banner{ background: url('../image/beyFlowBanner.jpg') no-repeat; background-size: cover; padding-top: 140px; }
.banner-text{ width: 350px; height: 350px; margin: 0 auto; background: rgba(0, 176, 240, 0.6); border-radius: 50%; position: relative; }
.banner-text h2{ color: #fff; font-size: 42px; padding: 85px 10px; text-align: center; font-weight: 400; }
.banner-text-small{ background: #fff; position: absolute; height: 125px; width: 125px; border-radius: 50%; bottom: -55px; right: 115px; }
.banner-text-small h3{ color: #00b0f0; text-align: center; padding: 35px 12px; font-weight: 400; }
.banner-text-small:hover{ background: #fff; transition: 0.2s all ease-in; }
.banner-text-small:hover h3{  color: #00b0f0; text-decoration: underline; }
.trasfers-main{ padding: 30px 0px; color: #fff; }
.trasfers-main h3{ padding-bottom: 15px; }
.trasfers-main-width{ width: 1001px; margin: 0 auto; }
.how-beyflow{ padding-top: 50px; } 
.how-beyflow h3{ color: #00b0f0; font-size: 32px; margin-bottom: 20px; font-weight: 400; }
.how-beyflow p{ color: #575252; margin-bottom: 30px; font-size: 22px; font-weight: 300; }
.how-beyflow  span.fixLine{ position: relative; margin-left: -13px; }
.border-h3{ border-top: 2px solid #00b0f0; }
.PLR0{ padding-left: 0px; padding-right: 0px; }
.PL0{ padding-left: 0px; }
.PR0{ padding-right: 0px; }
.footer{ padding: 50px 0px; }
.footer h1{ font-size: 60px; font-weight: 400; color: #fff; }
.footer .btn-default{ background: none; border:1px solid #fff; border-radius: 0px;  color: #fff; font-size: 20px; margin-top: 50px; padding: 5px 30px; }
.footer .btn-default:hover{ background: none; border-color: #fff; color: #fff; text-decoration: underline; }
.footer .social{ margin-bottom: 20px; }
.footer .social a{ color: #fff; font-size: 26px; }
.footer .social a:hover{ text-decoration: underline;  }
.footer .social img{ margin-right: 10px; }
.copyright span, .copyright span a{ color: #fff; font-size: 14px; }
.request-a-demo{ padding: 50px 0px; }
.request-a-demo h3{ color: #00B0F0; margin-bottom: 20px; font-size: 32px; font-weight: 400; }
.request-a-demo p{ font-size: 20px; font-weight: 300; color: #575252; }
.request-a-demo form{ margin-top: 10px; }
.request-a-demo form .row .col-sm-12 .col-sm-12{ padding-left: 0px; padding-right: 0px; }
.request-a-demo input[type="text"]{ height: 50px; }
.request-a-demo input:hover , .request-a-demo input:focus, .request-a-demo textarea{ border-color: #00B0F0; box-shadow: none; }
.request-a-demo input , .request-a-demo textarea{ border-radius: 0px; box-shadow: none; }
.request-a-demo .btn-submit{ height: 50px; color: #fff; width: 100%; background: #00B0F0; border-radius: 0px; font-size: 24px; }

@media (max-width: 767px)
{
	.xs-PR0{ padding-right: 0px; }
	.xs-PL0{ padding-left: 0px; }
	.xs-PLR0{ padding-left: 0px; padding-right: 0px; }
	.trasfers-main{ padding: 0px 15px; }
	.trasfers-main-width{ width: 100%; }
	.btn-primary{ width: 145px; }
	.banner-text{ height: 250px; width: 250px; margin-top: 30px; }
	.banner-text h2{ font-size: 24px; }
	.banner-text-small{ right: -5px; bottom:-45px; }
	.banner{ padding: 70px 0px; }
	.trasfers-main-width img{ margin: 0 auto;}
	.trasfers-main-width p{ margin-bottom: 20px; }
	h3 span{ display: none; }
	.footer{ padding: 10px 0px; }
	.footer h1{ font-size: 40px; }
	.how-beyflow img{ margin-bottom: 20px; }
	.footer .btn-default{ font-size: 16px; padding: 8px 20px; margin-top: 12px; margin-bottom: 30px; }
	.xs-text-center{ text-align: center; }
	.footer .col-sm-2.xs-text-center{ margin-top: 30px; }
	.copyright span{ margin-bottom: 12px; }
	form .PL0{ padding-right: 0px; }
	form .PR0{ padding-left: 0px; }
	.btn-submit{ margin-bottom: 20px; }
	.xs-text-left{ text-align: left; }
	h3.xs-text-left{ padding-left: 15px; }
}

@media screen and (min-width: 768px) and (max-width: 1001px)
{
	.trasfers-main{ width: 100% !important; overflow: scroll; }
	.footer h1{ font-size: 36px; }
	.footer .btn-default{ font-size: 14px; padding: 5px 16px; }
}

@media screen and (min-width: 992px) and (max-width: 1001px)
{
	.col-md-2.xs-text-center.col-sm-4{ padding: 0px;}
	.footer .social a{ font-size: 24px; }
}