{% load staticfiles %}
<div class="navmenu">
	<div class="container">
		<div class="col-md-12 col-sm-12 footer xs-text-center">
			<div class="col-md-5 col-sm-4">
				<h1>Contact us</h1>
				<a class="btn btn-default" href="mailto:info@beyflow.com">Write us at info@beyflow.com</a>
			</div>
			<div class="col-md-5 col-sm-4">
				<img src='{% static  "image/beyFlowLogoFooter.png" %}' class="img-responsive" />
			</div>
			<div class="col-md-2 xs-text-center col-sm-4">
				<div class="social">
					<a><img src='{% static "image/goglePlusIcon.png" %}' >Google</a>
				</div>
				<div class="social">
					<a><img src='{% static "image/linkedInIcon.png" %}' >LinkedIn</a>
				</div>
				<div class="social">
					<a><img src='{% static "image/facebookIcon.png" %}'>Facebook</a>
				</div>
				<div class="social">
					<a><img src='{% static "image/twitterIcon.png" %}'>Twitter</a>
				</div>
			</div>
		</div>
		<div class="col-sm-12 copyright PLR0">
			<div class="col-sm-4 text-left xs-text-center">
				<span>Powerd by BeyFlow Inc.</span>
			</div>
			<div class="col-sm-4 text-center xs-text-center">
				<span>Copyright &copy; 2016 beyFlow</span>
			</div>
			<div class="col-sm-4 text-right xs-text-center">
				<span>Developed by <a href="http://smartsensesolutions.com/" target="_blank">smartSense Consulting Solutions Pvt Ltd</a></span>
			</div>
		</div>
	</div>
</div>